raw/
staging/
logs/
etl_atividades/.ultima_data_extraida
modelo_dados_siconv/
db/
*__pycache__*
saida/
*.spyproject*
*.zip
.netlify/
.surgeignore
motor_coleta/
motor_analise/
documentos-analise/
schemas/
